body {
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}

.logo {
    margin-top: 50px;
    margin-left: 70px;
    width: 1640px;
    height: 50px;
}
.try-it-free {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 50px;
    top: 50px;
    transition: all 0.3s ease 0s;
    border-radius: 20px 20px 20px 20px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
    letter-spacing: 0.5px;

}
.try-it-free:hover {
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
    color: #fff;
    transform: translateY(-7px);
}

#heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
}
#paragraph {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
}
.community {
    width: 590px;
    height: 480px;
    margin-left: 70px;
    margin-top: 180px;
}

.get-started {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    color: white;
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px; 
    letter-spacing: 0.5px;
    background: hsl(322, 100%, 66%);
    position: absolute;
    transition: all 0.3s ease 0s;
    border-radius: 20px 20px 20px 20px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
}
.get-started:hover {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
    color: black;
    transform: translateY(-7px);

}
.mockup {
    text-align: right;
    top: 200px;
    right: 20px;
    width: 50vw;
    height: 35vw;
    position: absolute;
    margin-left: 750px;
}
.grow-together {
    background: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 25vw;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.719);
}
#heading-2 {
    position: absolute;
    /* background: red; */
    width: 25vw;
    margin-left: 150px;
    margin-top: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    font-weight: bold;

}
#paragraph-2 {
    /* background: greenyellow; */
    position: absolute;
    width: 30vw;
    height: 10vw;
    margin-left: 150px;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: normal;
}

.grow-together-img {
    position: absolute;
    margin-left: 1000px;
    margin-top: 80px; 
    margin-bottom: 10px; 
    width: 22vw;
    height: 16vw;

}

.build-community {
    background: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 10vw;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.719);
}
#build {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    position: absolute;
    margin-top: 30px;
    margin-left: 175px;
}

.get-started-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    color: white;
    margin-top: 100px;
    margin-left: 300px;
    padding-left: 30px;
    padding-right: 30px; 
    letter-spacing: 0.5px;
    background: hsl(322, 100%, 66%);
    position: absolute;
    transition: all 0.3s ease 0s;
    border-radius: 20px 20px 20px 20px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
}
.get-started-2:hover {
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.226);
    color: black;
    transform: translateY(-7px);
}

.footer {
    position: absolute;
    background-color: hsl(206, 100%, 10%);
    width: 2000px;
    height: 500px;
    margin: 0;
    border-left: 0px;
    margin-top: 100px;
    margin-left: -2px;

}
.footer-p {
    height: 70px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 35px;
    left: 75px;
    letter-spacing: 0.3px;
}
.location {
    position: absolute;
    top: 50px;
    left: 50px;
}
.phone {
    position: absolute;
    top: 150px;
    left: 50px;

}
.footer-phone {
    height: 20px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 135px;
    left: 75px;
    letter-spacing: 0.3px;

}
.email {
    position: absolute;
    top: 200px;
    left: 50px;

}
.footer-email {
    height: 20px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 185px;
    left: 75px;
    letter-spacing: 0.3px;

}

.info {
    height: 100px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 35px;
    left: 800px;
    letter-spacing: 0.3px;

}
.info-2 {
    
    height: 100px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 35px;
    left: 1000px;
    letter-spacing: 0.3px;

}

.attribution { 
    height: 20px;
    width: 450px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    font-weight: normal;
    color: white;
    position: absolute;
    top: 200px;
    left: 800px;
    right: auto;
    letter-spacing: 0.3px; 
}

.attribution a { color: hsl(228, 45%, 44%);

}